.about-me {
  min-height: 60vh;
  display: flex;
  justify-content: space-around;
  @media only screen and(max-width: $bp-large-medium) {
    justify-content: space-between;
  }
  @media only screen and(max-width: $bp-medium) {
    flex-direction: column;
    align-items: center;
  }

  &__picture {
    margin-top: 3.5rem;
    @media only screen and(max-width: $bp-medium) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__points {
    top: 10%;
    position: -webkit-sticky;
    position: sticky;
  }

  &__story {
    width: 50%;
    @media only screen and(max-width: $bp-large-medium) {
      width: unset;
      padding-left: 1rem;
    }
    @media only screen and(max-width: $bp-medium) {
      width: 80%;
      padding-left: 0;
      margin-top: 5rem;
    }
    @media only screen and(max-width: $bp-small) {
      width: 95%;
    }

    padding: 2rem 0;
    & > :not(:last-child) {
      margin-bottom: 5rem;
    }
  }

  &__text {
    color: $color-primary;
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: 0.1rem;
    text-align: justify;

    & > :not(:last-child) {
      margin-bottom: 2rem;
    }

    & p {
      padding: 0 2.5rem;

      @media only screen and(min-width: $bp-bigest) {
        padding: 0 7rem;
      }
      @media only screen and(max-width: $bp-largest) {
        padding: 0 0;
      }
    }

    @media only screen and(max-width: $bp-largest) {
      font-size: 2.25rem;
    }
    @media only screen and(max-width: $bp-large-medium) {
      font-size: 2rem;
    }

    @media only screen and(max-width: $bp-small) {
      font-size: 2.666666rem;
    }

    h1 {
      font-size: 3rem;
    }
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
  }
}
