.btn {
  border-radius: 0.6rem;
  padding: 1rem;
  border: 0;
  font-weight: bold;
  color: $color-tertiary-dark;
  font-size: 1.6rem;
  transition: all 0.2s;
  &--green {
    background: $color-primary;
    &:hover {
      cursor: pointer;
      background: $color-tertiary-dark;
      color: $color-primary;
      transform: translateY(-0.3rem);
      box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    }
    &:active,
    &:focus {
      outline: none;
      transform: translateY(-0.1rem);
      box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    }
  }
}
